<div class="jumbotron">
  <div class="container">
    <h1>Peregrination</h1>

    <%= video_tag "city.mp4", size: "1280x720", autoplay: true, loop: true, class: "video" %>
  </div>
</div>



<% @cities.each do |city| %>
<h2><%= link_to city.name, city_path(city) %></h2>

<% end %>
