<div id="home-page">
 <div class="jumbotron">
   <div class="container">
     <video id="jumbo-vid" autoplay muted loop>
       <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/3267/6/166335919/529998454.mp4?token=586ec7ba_0x0dd72551f16c2f40d0c487eabdfab44da9c35114">
     </video>
       <div class="jumbo-content">
           <h1>
             Peregrination
           </h1>
     </div>
   </div>
 </div>


 <div class="city-container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
         <div class="row">

         <% @cities.each do |city| %>
           <div class="col-md-4">
           <h2><%= link_to city.name, city_path(city) %></h2>
           </div>

           <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
